.container{
    margin-top: 20px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    margin-top: 10px;
}

.td-operaciones{
    width: 200px;
    text-align: center;
}